{% extends "base.html" %}

{% block content %}
    <h1>Vertical Subtraction with Borrows</h1>
    Enter two numbers separated by a comma "999, 28" to get the
    LaTeX for vertical subtraction.
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.subtrahends.label }}<br>
            {{ form.subtrahends(size=32) }}<br>
            {% for error in form.subtrahends.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}